<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Log4Net Section -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>


  <log4net>
    <!-- Define an output appender (where the logs can go) -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%property{NDC}] %property{ApiKey}/%property{TrackingId} %message%newline" />
      </layout>
    </appender>

    <appender name="AmqpJsonAppender" type="Haukcode.AmqpJsonAppender.AmqpJsonAppender, AmqpJsonAppender">
      <param name="AmqpServerHost" value="volarb-amqp" />
      <param name="AdditionalFields" value="Environment:Dev" />
      <param name="AmqpUser" value="ottoapp" />
      <param name="AmqpPassword" value="otto4pp" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Logger:%logger{2},Context:%property{NDC},ApiKey:%property{ApiKey},TrackingId:%property{TrackingId},Message:%message" />
      </layout>
    </appender>

    <!-- Note: Priority level can be ALL/DEBUG/INFO/WARN/ERROR/FATAL/OFF -->
    <!-- Setup the root category, set the default priority level and add the appender(s) (where the logs will go) -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="AmqpJsonAppender" />
    </root>
  </log4net>


  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Apache.NMS" publicKeyToken="82756feee3957618" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.3061" newVersion="1.6.0.3061" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
